pipeline/Var_pipeline.json
{
	"name": "Var_pipeline",
	"properties": {
		"activities": [
			{
				"name": "GetmetadataSelected",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "meta_Sou",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Store_Files",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetmetadataSelected",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Var_Files",
					"value": {
						"value": "@activity('GetmetadataSelected').output.childItems",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Var_Files": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-03-21T15:54:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}